html, body{
    margin:0;
    padding:0;
}

header {
    display: block;
    height:100px;
    width: 100%;
}

nav {
    display: block;
    width: 100%;
    height: 50px;
    background-color: red;
}

ul {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
}

li {
    display: block;
    height: 100%;
    width:25%;
    float: left;
    background-color: #222;
    color: #fff;
    line-height: 50px;
    text-align: center;
}

li:hover {
    background-color: #09c;
    color: #222;
}